In [1]:
import pandas as pd

# 1.Provinces

In [2]:
Provinces = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\1.Provinces.csv")

In [3]:
Provinces

    province_id                       name
0             1                    Alberta
1             2           British Columbia
2             3                   Manitoba
3             4              New Brunswick
4             5  Newfoundland and Labrador
5             6      Northwest Territories
6             7                Nova Scotia
7             8                    Nunavut
8             9                    Ontario
9            10       Prince Edward Island
10           11                     Quebec
11           12               Saskatchewan
12           13                      Yukon

In [4]:
for column in Provinces:
    print(column,'-',type(Provinces[column][0]))

province_id - <class 'numpy.int64'>
name - <class 'str'>

In [5]:
# Everything is OK

# 2.Cities

In [6]:
Cities = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\2.Cities.csv")

In [7]:
Cities

     city_id           name  province_id  area(km²)  population
0          1        Airdrie            1      84.57       43271
1          2       Beaumont            1      10.47       13284
2          3         Brooks            1      18.59       13676
3          4        Calgary            1     825.56     1096833
4          5        Camrose            1      42.62       17286
..       ...            ...          ...        ...         ...
389      390  Swift Current           12      24.04       16604
390      391         Warman           12       8.54       11020
391      392        Weyburn           12      18.49       10870
392      393        Yorkton           12      25.77       16343
393      394     Whitehorse           13     416.54       25085

[394 rows x 5 columns]

In [8]:
for column in Cities:
    print(column,'-',type(Cities[column][0]))

city_id - <class 'numpy.int64'>
name - <class 'str'>
province_id - <class 'numpy.int64'>
area(km²) - <class 'numpy.float64'>
population - <class 'numpy.int64'>

In [9]:
# Everything is OK

# 3.Property_type

In [10]:
Property_type = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\3.Property_type.csv")

In [11]:
Property_type

   property_type_id           name
0                 1  Single Family
1                 2   Multi-family
2                 3   Recreational

In [12]:
for column in Property_type:
    print(column,'-',type(Property_type[column][0]))

property_type_id - <class 'numpy.int64'>
name - <class 'str'>

In [13]:
# Everything is OK

# 4.Building_type

In [14]:
Building_type = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\4.Building_type.csv")

In [15]:
Building_type

    building_type_id                      name
0                  1                     House
1                  2           Row / Townhouse
2                  3                 Apartment
3                  4  Manufactured Home/Mobile
4                  5                    Duplex
5                  6              Recreational
6                  7         Manufactured Home
7                  8               Mobile Home
8                  9                  Fourplex
9                 10                   Triplex
10                11              Multi-Family
11                12                     Other
12                13       Two Apartment House
13                14                   Modular

In [16]:
for column in Building_type:
    print(column,'-',type(Building_type[column][0]))

building_type_id - <class 'numpy.int64'>
name - <class 'str'>

In [17]:
# Everything is OK

# 5.Property_ownership_type

In [18]:
Property_ownership_type = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\5.Property_ownership_type.csv")

In [19]:
Property_ownership_type

    property_ownership_type_id                    name
0                            1                Freehold
1                            2                 Unknown
2                            3      Condominium/Strata
3                            4               Leasehold
4                            5                  Strata
5                            6  Leasehold Condo/Strata
6                            7  Shares in Co-operative
7                            8      Other, See Remarks
8                            9    Timeshare/Fractional
9                           10          Freehold Condo
10                          11              Life Lease
11                          12             Condominium
12                          13             Cooperative
13                          14  Undivided Co-ownership

In [20]:
for column in Property_ownership_type:
    print(column,'-',type(Property_ownership_type[column][0]))

property_ownership_type_id - <class 'numpy.int64'>
name - <class 'str'>

In [21]:
# Everything is OK

# 6.Estate_status

In [22]:
Estate_status = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\6.Estate_status.csv")

In [23]:
Estate_status

   estate_status_id        name
0                 1  is selling
1                 2        sold

In [24]:
for column in Estate_status:
    print(column,'-',type(Estate_status[column][0]))

estate_status_id - <class 'numpy.int64'>
name - <class 'str'>

In [25]:
# Everything is OK

# 7.Organizations

In [26]:
Organizations = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\7.Organizations.csv")

In [27]:
Organizations

,organization_id,organization_name,organization_address,organization_phone_area_code,organization_phone_number,organization_fax_area_code,organization_fax_number
0,1,CENTURY 21 BAMBER REALTY LTD.,"1612 - 17 AVENUE S.W.|CALGARY, Alberta T2T0E3",403.0,245-0773,403.0,229-0239
1,2,2% REALTY,"400, 909 17 Ave S.W.|CALGARY, Alberta T2T0A4",403.0,606-3500,888.0,239-4659
2,3,MAXWELL CAPITAL REALTY,"#150 - 75 CROWFOOT RISE N.W.|CALGARY, Alberta ...",403.0,282-7770,403.0,282-6299
3,4,EXP REALTY,"280 23 SUNPARK DRIVE SE|CALGARY, Alberta T2X3V1",403.0,262-7653,403.0,648-2765
4,5,CIR REALTY,"130, 703 - 64 AVENUE SE|CALGARY, Alberta T2H2C3",403.0,271-0600,403.0,271-5909
...,...,...,...,...,...,...,...
4048,4049,Sutton - Harrison Realty,"1103 Broadway Avenue|Moosomin, Saskatchewan S0...",204.0,571-5900,204.0,571-5905
4049,4050,RE/MAX ACTION REALTY,"400-4201 4th Ave|Whitehorse, Yukon Y1A5A1",867.0,667-2514,867.0,667-7132
4050,4051,COLDWELL BANKER REDWOOD REALTY,"4150 4th Avenue|Whitehorse, Yukon Y1A1J2",867.0,668-3500,No,No
4051,4052,URBAN REALTY GROUP,"2054 Second Avenue|Whitehorse, YT, Yukon Y1A1A8",867.0,322-8726,No,No
4052,4053,2% Realty Midnight Sun,"Suite 204 - 211 Main St|Whitehorse, Yukon Y1A2B2",867.0,333-9242,No,No

In [28]:
for column in Organizations:
    print(column,'-',type(Organizations[column][0]))

organization_id - <class 'numpy.int64'>
organization_name - <class 'str'>
organization_address - <class 'str'>
organization_phone_area_code - <class 'str'>
organization_phone_number - <class 'str'>
organization_fax_area_code - <class 'str'>
organization_fax_number - <class 'str'>

In [29]:
# Everything is OK

# 8.Positions

In [30]:
Positions = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\8.Positions.csv")

In [31]:
Positions

    position_id                              name
0             1                         Associate
1             2                  Broker of Record
2             3                  Associate Broker
3             4                            Broker
4             5                           Manager
5             6  Personal Real Estate Corporation
6             7                       Salesperson
7             8                    Broker Manager
8             9                Real Estate Broker
9            10      Certified Real Estate Broker
10           11                 Associate Manager
11           12                     Agent Manager
12           13                      Broker Owner
13           14    Residential Real Estate Broker
14           15                      Sales Person
15           16      Chartered Real Estate Broker
16           17                          REALTOR®
17           18  Real Estate Sales Representative
18           19              REALTOR® Salesperson
19           20                 Real Estate Agent
20           21     Commercial Real Estate Broker

In [32]:
for column in Positions:
    print(column,'-',type(Positions[column][0]))

position_id - <class 'numpy.int64'>
name - <class 'str'>

In [33]:
# Everything is OK

# 9.Jobs

In [34]:
Jobs = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\9.Jobs.csv")

In [35]:
Jobs

     job_id                                               name  wages ($/hour)
0         1   Senior government managers and officials  (0012)           55.00
1         2  Senior managers - financial, communications an...           63.46
2         3  Senior managers - health, education, social an...           53.46
3         4  Senior managers - trade, broadcasting and othe...           56.37
4         5  Senior managers - construction, transportation...           57.03
..      ...                                                ...             ...
426     427  Labourers in chemical products processing and ...           20.85
427     428  Labourers in wood, pulp and paper processing  ...           16.78
428     429  Labourers in rubber and plastic products manuf...           17.50
429     430  Labourers in food and beverage processing  (9617)           16.00
430     431  Other labourers in processing, manufacturing a...           15.60

[431 rows x 3 columns]

In [37]:
for column in Jobs:
    print(column,'-',type(Jobs[column][0]))

job_id - <class 'numpy.int64'>
name - <class 'str'>
wages ($/hour) - <class 'numpy.float64'>

In [38]:
# Everything is OK

# 10.Marital_status

In [39]:
Marital_status = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\10.Marital_status.csv")

In [40]:
Marital_status

   marital_status_id       name
0                  1     single
1                  2    married
2                  3  separated
3                  4   divorced
4                  5    widowed

In [41]:
for column in Marital_status:
    print(column,'-',type(Marital_status[column][0]))

marital_status_id - <class 'numpy.int64'>
name - <class 'str'>

In [42]:
# Everything is OK

# 11.Relationship_result

In [43]:
Relationship_result = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\11.Relationship_result.csv")

In [44]:
Relationship_result

   relationship_result_id      name
0                       1  in touch
1                       2   success
2                       3      fail

In [45]:
for column in Relationship_result:
    print(column,'-',type(Relationship_result[column][0]))

relationship_result_id - <class 'numpy.int64'>
name - <class 'str'>

In [46]:
# Everything is OK

# 12.Brokers

In [47]:
Brokers = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\12.Brokers.csv")

In [48]:
Brokers

,broker_id,first_name,last_name,organization_id,position_id,broker_area_code,broker_phone_number
0,1,Farrah,Khoja,1,1,403,923-9445
1,2,Erick,Dillmann,2,1,403,828-1120
2,3,Anna,Pitt,3,1,403,605-7073
3,4,Glenn,Heslop,4,1,403,826-5693
4,5,Ryan,Smith,5,1,403,700-9737
...,...,...,...,...,...,...,...
19357,19358,MIKE,RACZ,3258,4,867,333-6410
19358,19359,Judy,Freake,3261,4,867,336-0631
19359,19360,Wendy,Close,3258,4,867,667-7239
19360,19361,Tamara,Cromarty,3259,4,867,334-9476
19361,19362,Jacklyn,Stockstill,3259,4,867,336-8001

In [49]:
for column in Brokers:
    print(column,'-',type(Brokers[column][0]))

broker_id - <class 'numpy.int64'>
first_name - <class 'str'>
last_name - <class 'str'>
organization_id - <class 'numpy.int64'>
position_id - <class 'numpy.int64'>
broker_area_code - <class 'numpy.int64'>
broker_phone_number - <class 'str'>

In [50]:
# Everything is OK

# 13.Buyers

In [51]:
Buyers = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\static_tables\13.Buyers.csv")

In [52]:
Buyers

,buyer_id,first_name,last_name,age,city_id,marital_status_id,job_id,buyer_area_code,buyer_phone_number
0,1,John,Brooks,78,309,1,111,204,419-7489
1,2,Andrea,Baker,76,124,1,159,867,897-7410
2,3,Douglas,Bryant,33,236,1,219,403,987-1814
3,4,Dana,Thompson,29,290,1,375,250,360-6239
4,5,Kerry,Wheeler,30,161,4,118,780,193-5903
...,...,...,...,...,...,...,...,...,...
89995,89996,Andrew,Romero,41,193,2,25,250,797-6283
89996,89997,Erica,Gilbert,22,120,3,148,437,990-3446
89997,89998,Kristina,Fischer,43,148,3,425,306,173-8499
89998,89999,Allen,Bauer,28,119,1,400,450,314-2215
89999,90000,Jeffrey,Tyler,49,306,1,281,403,560-6022

In [53]:
for column in Buyers:
    print(column,'-',type(Buyers[column][0]))

buyer_id - <class 'numpy.int64'>
first_name - <class 'str'>
last_name - <class 'str'>
age - <class 'numpy.int64'>
city_id - <class 'numpy.int64'>
marital_status_id - <class 'numpy.int64'>
job_id - <class 'numpy.int64'>
buyer_area_code - <class 'numpy.int64'>
buyer_phone_number - <class 'str'>

In [54]:
# Everything is OK

# 14.Owners

In [55]:
Owners = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\transaction_tables\14.Owners.csv")

In [56]:
Owners

,owner_id,first_name,last_name,city_id,owner_area_code,owner_phone_number
0,1,Teresa,Washington,251,613,774-4055
1,2,Angela,Bean,110,581,232-2939
2,3,Kenneth,Miller,48,705,159-8186
3,4,Deborah,Armstrong,335,236,187-9404
4,5,Theresa,Ward,326,416,273-9255
...,...,...,...,...,...,...
69995,69996,Ryan,Beard,375,780,254-7263
69996,69997,Jeffrey,Graham,315,438,346-6665
69997,69998,Andrea,Carr,105,709,207-6991
69998,69999,Christina,Dixon,48,249,856-9030
69999,70000,Eric,Holland,283,519,617-9824

In [57]:
for column in Owners:
    print(column,'-',type(Owners[column][0]))

owner_id - <class 'numpy.int64'>
first_name - <class 'str'>
last_name - <class 'str'>
city_id - <class 'numpy.int64'>
owner_area_code - <class 'numpy.int64'>
owner_phone_number - <class 'str'>

In [58]:
# Everything is OK

# 15.Estate

In [59]:
Estates = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\transaction_tables\15.Estates.csv")

In [ ]:
Estates

In [ ]:
for column in Estates:
    print(column,'-',type(Estates[column][0]))

In [ ]:
# Everything is OK

# 16.Estate_Broker_Relationships

In [ ]:
Estate_Broker_Relationships = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\transaction_tables\16.Estate_Broker_Relationships.csv")

In [ ]:
Estate_Broker_Relationships

In [ ]:
# Everything is OK

# 17.Contracts

In [ ]:
Contracts = pd.read_csv(r"C:\Users\dell\Dropbox\My PC (DESKTOP-LL2SGK9)\Desktop\Data Engineering ACA\Project\Third_draft_of_the_project\Realtor_tables\transaction_tables\17.Contracts.csv")

In [ ]:
Contracts

In [ ]:
# Everything is OK